{% extends 'App/base.html' %}

{% load static %}
    
    {% block content %}
    <div class="container bg-light mt-5 shadow rounded-lg p-4" style="max-width: 500px;">
        <div class="text-center d-flex justify-content-between">
            <span id="title-song">Información del estudiante:</span>
           
        </div>
        <div class="text-center mt-3">
            <div class="card-group">
                Nombre: Mynor Francisco Morán García.
            </div>
            <div class="card-group">
               Carne: 201603232
            </div>
            <div class="card-group">
                Introducción a la programación y computación 2 sección A
            </div>
        </div>
    </div>

    </div>
    {% endblock %}
