{% extends 'App/base.html' %}

{% load static %}
    
    {% block content %}
    <div class="container bg-light mt-5 shadow rounded-lg p-4" style="max-width: 500px;">
        <div class="text-center d-flex justify-content-between">
            <span id="title-song">Información del estudiante:</span>
           
        </div>
        <div class="text-center mt-3">
            <div class="card-group">
                Nombre: Mynor Francisco Morán García.
            </div>
            <div class="card-group">
               Carne: 201603232
            </div>
            <div class="card-group">
                Introducción a la programación y computación 2 sección A
            </div>
        </div>
    </div>

    <div class="container" >
        <table>
            <tr>
                <td>
                    <h2>Resumen</h2>
                </td>
                <td>
                    <h2>Abstract</h2>
                </td>  
            </tr>
            <tr>
                <td>
                    El desarrollo de la aplicación se planifico de acuerdo a 
                    los requerimientos dados por la superintendencia de administración
                     tributaria, en lo cual se consumirá un servicio desde internet. 
                     Este software recibirá un mensaje con los datos para solicitar 
                     la autorización de un Documento tributario electrónico (DTE) emitido 
                     por el contribuyente y como respuesta emitirá una respuesta de autorización, 
                     la respuesta que dará el sistema un número correlativo que iniciara con el valor
                      de uno y no deberá de repetirse. También se implementará reportes PDF y gráficas
                       para visualizar la cantidad de documentos tributarios electrónicos autorizados y 
                       no autorizados. La conexión del front-end y back-end es a través del protocolo HTTPS.

	                Este software está construido con la tecnología de Django para el front-end y Flask 
                    para el back-end. El lenguaje de programación que manejan cada uno de estos 
                    frameworks es Python. Para transmitir los mensajes entre los diferentes frameworks
                     se utilizar los archivos XML.

                </td>
                <td>
                    The development of the application was planned according to 
                    the requirements given by the tax administration superintendency, in which a service 
                    will be consumed from the internet. This software received a message with the data to
                     request the authorization of an electronic tax document (DTE) issued by the taxpayer 
                     and in response it will issue an authorization response, the response that the system 
                     will give a correlative number that begins with the value of one and it should not be 
                     repeated. PDF reports and graphs will also be implemented to view the amount of
                      authorized and unauthorized electronic tax documents. The connection of the front-end 
                      and back-end is through the HTTPS protocol.

                    This software is built with Django technology for the front-end and Flask for the back-end.
                    The programming language used by each of these frameworks is Python. XML files will be used
                    to transmit the messages between the different frameworks.

                </td>
                <tr><td></td></tr>
                <tr>
                    <td>
                        <h2>Palabras clave.</h2>
                    </td>
                    <td>
                        <h2>Keywords.</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Django.</li>
                            <li>Flask</li>
                            <li>XML</li>
                            <li>HTTPS</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Django.</li>
                            <li>Flask</li>
                            <li>XML</li>
                            <li>HTTPS</li>
                        </ul>
                    </td>
                </tr>
            </tr>
        </table>

        <center>
            <div class="container">
                <p>
                    La solución de los requerimientos propuestos, es de gran 
                    importancia ya que se utilizaron herramientas que actualmente
                    están siendo muy utilizadas a nivel comercial, entonces se 
                    entiendo que este software está catalogado con la última tecnología
                    que se encuentra en el mercado. Las herramientas son las siguientes:
                    para el lenguaje de programación se utilizó Python y los frameworks
                    que se utilizaron para poder tener servicios en internet. Django se
                    utilizó para el front-end ya que nos permite tener templates (paginas HTML),
                    utilizar url´s personalizados y vistas para poder darle la dinámica 
                    a los templates. Flask se utilizó para manejarla como API, esto consiste
                    en que Django solicite información a Flask por medio del protocolo de
                    comunicación HTTPS. La API va a manejar todo el proceso de validación
                    de los DTE y brindarle la respuesta a Django.
                </p>
            </div>
        </center>

        <center>
            <div class="container">
                <h2>DESARROLLO DEL TEMA</h2>
                <p>
                    1.	Python.
                        Este es un lenguaje de programación se usará en todo el programa a desarrollar,
                         desde la lectura de datos hasta los reportes que se mandarán al robot. 
                        <br><br>
                        Python es un lenguaje de programación interpretado cuya filosofía hace hincapié 
                        en la legibilidad del codigó. Se trata de un lenguaje de programación multi-paradigma
                         ya que soporta parcialmente la orientación a objetos, programación imperativa y 
                         en menor medida la programación funcional. Es un lenguaje interpretado, dinámica y
                          multiplataforma.
                        <br><br>
                        La programación orientada a objetos si puede lograr hacer todas las funcionalidades
                         que corresponden al programa pero para ello si se necesita una buena abstracción
                          porque si no se logra hacer de buena manera puede llevar un mayor tiempo de 
                          producción y no obtener los tiempos esperados.


                </p>
                <p>
                    Las siglas significan lenguaje de marcado extensible, es un conjunto de códigos 
                    que se pueden aplicar en el análisis de datos o la lectura de textos creados por
                     computadoras o personas. 

                    La estructura de un fichero XML se asemeja a un árbol de información. Cada rama o parte
                     del fichero se llama elemento y se distingue por la utilización de una etiqueta. 
                     Una etiqueta consiste en una marca hecha en el documento, que señala una porción 
                     de éste como un elemento.

                    La tecnología XML busca dar solución al problema de expresar información estructurada 
                    de la manera más abstracta y reutilizable posible. Que la información sea estructurada
                     quiere decir que se compone de partes bien definidas, y que esas partes se componen a
                      su vez de otras partes.

                </p>
                <p>
                    Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web 
                    seguros y mantenibles. Desarrollado por programadores experimentados, Django se encarga
                     de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte 
                     en escribir tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código
                      abierto, tiene una comunidad próspera y activa, una gran documentación y muchas 
                      opciones de soporte gratuito y de pago.

                    Django te ayuda a escribir software que es:
                        
                    <b>Completo</b><br>   
                    Django sigue la filosofía "Baterías  incluidas “y provee casi todo lo que los desarrolladores quisieran que tenga "de fábrica". Porque todo lo que necesitas es parte de un único "producto", todo funciona a la perfección, sigue principios de diseño consistentes y tiene una amplia y actualizada documentación.
                    Versátil
                    Django puede ser (y ha sido) usado para construir casi cualquier tipo de sitio web — desde sistemas manejadores de contenidos y wikis, hasta redes sociales y sitios de noticias. Puede funcionar con cualquier framework en el lado del cliente, y puede devolver contenido en casi cualquier formato (incluyendo HTML, RSS feeds, JSON, XML, etc). ¡El sitio que estás leyendo actualmente está basado en Django!
                    <br><br>
                    Internamente, mientras ofrece opciones para casi cualquier funcionalidad 
                    que desees (distintos motores de base de datos, motores de plantillas, etc.),
                     también puede ser extendido para usar otros componentes si es necesario.

                </p>
            </div>

            <div class="container">
                <b>Flask.</b>
                <p>Actualmente en el desarrollo moderno de aplicaciones web se
                     utilizan distintos Frameworks que son herramientas que nos 
                     dan un esquema de trabajo y una serie de utilidades y funciones
                      que nos facilita y nos abstrae de la construcción de páginas web
                       dinámicas.  En general los Frameworks están asociado a lenguajes 
                       de programación (Ruby on Rails (Ruby), Symphony (PHP)),  en el mund
                        de Python el más conocido es Django pero Flask es una opción que
                         quizás no tenga una curva de aprendizaje tan elevada pero nos posibilita
                          la creación de aplicaciones web igual de complejas de las que se pueden
                           crear en Django. Ventajas de utilizar Flask:
                    <br><br>
                    •	Proporciona una estructura del proyecto, es decir, todas las apps que estén construidas con Flask van a tener los mismos elementos y ficheros.
                    •	Facilita la colaboración.
                    •	Es fácil encontrar bibliotecas adaptadas al Framework.
                    </p>
            </div>
        </center>

    </div>

    </div>
    {% endblock %}
