{% extends 'App/base.html' %}

{% load static %}
    
    {% block content %}
    <div class="card-body">
        <h2>CONSULTA GENERAL</h2>
        <form action="" method="GET" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Enviar" name="EnviarG">
            <input type="submit" value="PDF" name="reporteG">
            
            <div class="form-group">
                <textarea class="form-control" name="consultaG" id="consultaG" cols="30" rows="10">{{general}}</textarea>
            </div>
                        
        </form>
        
        
    </div>

    <div class="card-body">
        <h2>CONSULTA POR FECHA Y NIT</h2>
        <form action="{% url 'dowloadNit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            Fecha:<input type="text" name="fechaInicialFec">
            <br><br>
            <input type="submit" value="PDF" name="reporteFec">
            <input type="submit" value="Grafica" name="graficaFec">
                                    
        </form>
    </div>
    <canvas id="chart" width="25" height="25"></canvas>
    
    <br>
    <br>
    
    <div class="card-body">
        <h2>CONSULTA POR RANGO DE FECHA</h2>
        <form action="{% url 'dowloadFecha' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            Fecha Inicial:<input type="text" name="fechaInicialRang">
            <br><br>
            Fecha Final:<input type="text" name="fechaFinalRang">
            <br><br>
            <input type="submit" value="PDF" name="reporteRang">
            <input type="submit" value="Grafica" name="graficaRang">
                                    
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        var ctx = document.getElementById('chart').getContext('2d');
        const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
        labels: ['{{labels}}'],
        datasets: [{
            label: '{{labels}}',
            data: '{{data}}',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    
});
      </script>
    {% endblock %}